{% extends "Roel/inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
    <div class="clientes-container">
        <div class="clientes-header">
            <h2>¡Todos nuestros clientes!</h2>
        </div>
        <div class="clientes-form">
            <h5>¡Si quieres ser un cliente aprieta acá!</h5>
            <form action="{% url 'registro' %}" method="post"> {% csrf_token %}
                <input type="submit" value="¡Aprieta Aquí!" class="btn btn-success">
            </form>
        </div>

        <div class="clientes-table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios|slice:":5" %}
                    <tr>
                        <td>{{ usuario.first_name }}</td>
                        <td>{{ usuario.last_name }}</td>
                        <td>{{ usuario.email }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if show_ver_mas %}
            <div class="ver-mas">
                <a href="/Roel/verMasClientes" class="btn btn-success">Ver más</a>
            </div>
        {% else %}
            <div class="ver-mas">
                <h3>¡Solo admins!</h3>
                <button class="btn btn-success" onclick="mostrarMensaje()">Ver más</button>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}

<script>
    function mostrarMensaje() {
        alert("Usuario sin permisos necesarios");
    }
</script>