<div>
    {% extends "Roel/cliente.html" %}
    {% load static %}
    
    {% block getCliente %}
        <p>Consultar Cliente</p>
        <form action="/Roel/buscarCliente" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if clientes %}
            {% for cliente in clientes %}
                <li> {{cliente.nombre}} </li>
                <li> {{cliente.apellido}} </li>
                <li> {{cliente.email}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>
