<div>
    {% extends "Roel/distri.html" %}
    {% load static %}
    
    {% block getDistri %}
        <p>Consultar Distribuidora</p>
        <form action="/Roel/buscarDistri" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if distribuidoras %}
            {% for distribuidora in distribuidoras %}
                <li> {{distribuidora.nombre}} </li>
                <li> {{distribuidora.apellido}} </li>
                <li> {{distribuidora.email}} </li>
                <li> {{distribuidora.profesion}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>