<div>
    {% extends "Roel/local.html" %}
    {% load static %}
    
    {% block getLocal %}
        <p>Consultar Local</p>
        <form action="/Roel/buscarLocal" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if locales %}
            {% for local in locales %}
                <li> {{local.nombre}} </li>
                <li> {local.calle} </li>
                <li> {{local.pais}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>