<div>
    {% extends "Roel/distri.html" %}
    {% load static %}

        {% block setDistri %}
        <form action="/Roel/setDistri" method="post"> {% csrf_token %}

            <input placeholder="Nombre del dueño" type = "text" name="nombre" required>
            <input placeholder="Apellido del dueño" type = "text" name="apellido" required>
            <input placeholder="Email de la empresa/dueño" type = "email" name="email" required>
            <input placeholder="Profesion de la empresa" type = "item" name="profesion" required>

            <input type = "submit" value="Enviar">
        </form>
    {% endblock %}
</div>