<div>
    {% extends "Roel/local.html" %}
    {% load static %}

        {% block setLocal %}
        <form action="/Roel/setLocal" method="post"> {% csrf_token %}

            <input placeholder="Nombre del local" type = "text" name="nombre" required>
            <input placeholder="Calle del local" type = "text" name="calle" required>
            <input placeholder="País del local" type = "item" name="pais" required>

            <input type = "submit" value="Enviar">
        </form>
    {% endblock %}
</div>